@import '../../styles/global';

.contactContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 100px 0;
  justify-content: center;
  align-items: center;

  h1{
    font-family: var(--font-poppins);
    font-size: 30px;
    color: $soft-black;
    font-weight: 400!important;
    letter-spacing: 1px!important;
  }
  .spanSubtitle{
    color: $black;
    line-height: 1.7;
    font-family: var(--font-raleway);
    font-size: 16px;
  }

  //.container{
  //  .spanForm{
  //    color: $black;
  //    line-height: 1.7;
  //    font-family: 'Raleway', sans-serif!important;
  //    font-size: 16px;
  //  }
  //}
}
