@import '../../styles/global';

.footerSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 105px;
  background-color: $black;
  font-size: 11px;
  line-height: 20px;
  font-family: var(--font-poppins);
}
