@import '../../styles/global';

.registerUserLogin {
  width: 420px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: $white;
  font-family: var(--font-poppins);

  .logoDreamon {
    margin-bottom: 45.42px;
  }

  .titleLogin {
    color: $white;
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 15px 0 23.86px 0;
  }

  .subTitle {
    font-family: var(--font-raleway);
    font-size: 11px;
    margin-bottom: 24px;
    text-align: center;
  }

  .recoveryPass {
    width: 100%;
    text-align: start;

    .recovery {
      font-size: 11px;
      font-family: var(--font-raleway);
    }
  }

  .passwordToggle {
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .register {
    font-size: 11px;
  }
}

@media screen and (max-width: 768px) {
  .registerUserLogin {
    width: 341px;

    .titleLogin {
      font-size: 16pt;
      margin-bottom: 24px;
    }

    .subTitle {
      font-size: 11pt;
      margin-bottom: 24px;
      line-height: 1.5;
    }

    .recoveryPass {
      .recovery {
        font-size: 14px;
        text-align: center;
        margin: 24px 0;
      }
    }

    .register {
      font-size: 14px;
    }
  }
}
